# Flask
FLASK_ENV=development
JWT_SECRET=pon_una_clave_larga_y_unica
JWT_ACCESS_MIN=15
JWT_REFRESH_DAYS=30

# MariaDB (root local)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=tu_password
DB_NAME=Libros
DB_CHARSET=utf8mb4

# Redis local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# CORS
CORS_ORIGINS=http://127.0.0.1:8080,http://localhost:8080
